
html{
    scroll-behavior: smooth;
}

:root{
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --shadow-color:#777;

    --section-padding:60px;
    --section-background: #f6f6f6;

    --main-duration: .3s;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
    padding: 0;
}

.parent{
    background-color: #eee;
}

.container{
    /* background-color: #ddd; */
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

/* small */
@media (min-width:768px) {
    .container{
        width: 750px;
    }
}
/* medium */
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}
/* large */
@media (min-width:1200px) {
    .container{
        width: 1400px;
    }
}



/* start hearder */
.header{
    padding: 20px;
    width: 100%;
    
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    width: 100%;
}

.header .logo{
    width: 50px;
    height: 50px;
}

.header .links{
    position: relative;
}
.header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}
.header .links .icon span{
    background-color: black;
    margin-bottom: 5px;
    height: 3px;
    width: 100%;
}
.header .links .icon span:nth-child(2)
{
    width: 70%;
    transition: var(--main-duration);
}

.header .links :hover span:nth-child(2)
{
    width: 100%;
}
.header .links:hover ul{
    display: block;
}
.header .links ul{
    display: none;
    list-style: none;
    background-color: var(--section-background);
    padding: 0;
    position: absolute;
    right: 0;
    top: 30px;
    width: 200px;
    z-index: 10;
}

.header .links ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--section-background) transparent;
    position: absolute;
    top: -19px;
    right: 5px;
}


.header .links ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: var(--main-duration);
}
.header .links ul li a:hover{
    padding-left: 25px;
}
.header .links ul li:not(:last-child){
    border-bottom: #eee solid 1px;
}


/* end hearder */

/* start landing */
.landing{
    background-image: url("../image/landing.jpg");
    background-size: cover;
    height: calc( 100vh - 64px );
    width: 100%;
    position: relative;
}
.landing .intro-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    max-width: 100%;
    min-width: 320px;
}
.landing h1{
    margin: 0;
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;
}
.landing p{
    font-size: 19px;
    line-height: 1.8;
}
/* end landing */


/* start feature */
.feature{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color:  var(--section-background);
    width: 100%;
}

.feature .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
    width: 100%;
}

.feature .feat{
    padding: 20px;
    text-align: center;
}

.feature .container div:nth-child(2){
    box-shadow: 0px 4px 6px #888;
    
}

.feature .feat i{
    color: var(--main-color);
}
.feature .feat h3{
    font-weight: 800;
    margin: 30px 0;
}
.feature .feat p{
    line-height: 1.8;
    color: var(--shadow-color);
    font-size: 18px;
}

/* end feature */

/* start component */

.special-heading{
    color: #ebebeb;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -4px;
    margin: 0;
}
.special-heading + p{
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}

@media (max-width:767px) {
    .special-heading{
        font-size: 60px;
    }
    .special-heading +p{
        margin-top: -15px;
        font-size: 12px;
    }
}
/* end component */

/* start service */
.service{
    width: 100%;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.service .container{
    width: 100%;
}

.service .service-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
    margin-top: 100px;
}

.service .service-content .srv{
    display: flex;
    margin-bottom: 40px;
}

.service .service-content .srv i{
    color: var(--main-color);
    flex-basis: 60px;
}

.service .service-content .srv .text{
    flex: 1;
}
.service .service-content .srv .text h3{
    margin: 0 0 20px;
}
.service .service-content .srv .text p{
    color: #333;
    line-height: 1.8;
    font-weight: 300;
}
.service .service-content .image{
    text-align: center;
    position: relative;
}
.service .service-content .image img{
    width: 260px;    
    height: 400px;
}

.service .service-content .image::before{
    content: "";
    background-color: var(--secondary-color);
    position: absolute;
    width: 100px;
    height: calc( 100% + 100px );
    top: -50px;
    right: 0;
    z-index: -1;    
}

@media (max-width:1100px) {
    .service .service-content .image img{
        
        height: 500px;
    }
}

@media (max-width:1000px) {
    
    .service .service-content .image{
        display: none;
    }
}

@media (max-width:767px) {
    .service .service-content .srv{
        display: flex;
        flex-direction: column;
    }   
}
/* end service */

/* start .portfolio */

.portfolio{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
    width: 100%;
}

.portfolio .container{
    width: 100%;
}

.portfolio .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
    margin-top: 100px;   
    width: 100%;
}

.portfolio .portfolio-content .card{
    background-color: white;
    
}

.portfolio .portfolio-content .card img{
    max-width: 100%;   
}
.portfolio .portfolio-content .card .info{
    padding: 20px;
}

.portfolio .portfolio-content .card .info h3{
    margin: 0;
}

.portfolio .portfolio-content .card .info p{
    /* padding: 20px; */
    color: #777;
    line-height: 1.8;
    margin-bottom: 0;
}

/* end .portfolio */


/* start about */

.about{
    padding-top: var(--section-padding);
    padding-bottom: calc( var(--section-padding) + 60px);
    width: 100%;
}

.about .container{
    width: 100%;
}
.about .about-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px 40px 0;
}

@media (max-width:1120px) {
    .about .about-content{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.about .about-content .image{
    position: relative;
    width: 250px;
    height: 375px;
}

.about .about-content .image::before{
    content: "";
    position: absolute;
    background-color: var(--section-background);
    width: 100px;
    height: calc( 100% + 80px );
    top: -40px;
    left: -20px;
    z-index: -1;
}

.about .about-content .image::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 240px;
    background-color: transparent;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    top: -20px;
    right: -150px;
}
@media (max-width:1120px) {
    .about .about-content .image::after,
    .about .about-content .image::before{
        display: none;
    }
}

.about .about-content .image img{
    max-width: 100%;
}

.about .about-content .text{
    flex-basis: calc(100% - 500px);
}

@media (max-width:1120px ) {
    .about .about-content{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .about .about-content .image{
        margin-bottom: 60px;
    }
}

.about .about-content .text p:first-of-type{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
    
}

.about .about-content .text hr{
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}

.about .about-content .text p:last-of-type{
    line-height: 2;
    color: #777;
}
/* end about */

/* start contact */
.contact{
    background-color: var(--section-background);
    padding-top: var(--section-padding);
    padding-bottom:var(--section-padding);
    width: 100%;
}

.contact .container{
    width: 100%;
}

.contact .contact-content{
    text-align: center;
    padding-top: var(--section-padding);
    padding-bottom:var(--section-padding);
}

.contact .contact-content p{
    font-size: 30px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .contact-content a{
    display: block;
    font-size: 30px;
    font-weight: 800;
    text-decoration: none;
    color: var(--main-color);
}

.contact .contact-content .social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 18px;
    
}
.contact .contact-content .social i{
    margin-left: 10px;
    color: var(--main-color);
}
@media (max-width:767px) {
    .contact .contact-content p,
    .contact .contact-content a{
        font-size: 20px;
    }
    .contact .contact-content .social{
        font-size: 14px;
    }
}
/* end contact */

/* start footer */
.footer{
    background-color: var(--secondary-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer p{
    font-weight: 600;
    font-size: 20px;
    color: white;
}
.footer p span{
    color: var(--main-color);
}
/* end footer */


